.blog-content{
     margin-top:20px;
     display: flex;
     width: 100%;
     overflow: hidden;
     height: 530px;
     // background-color: yellow;
     gap: 15px;
}

.main-container{
     width:calc(100%/3) ;
     // height: 530px;
     display: flex;
     flex-direction: column;
     background-color: green;
     border-radius: 10px;
     cursor: pointer;
    transition: all ease-in-out 400ms 0s;


     .image-section{
        width: 100%;
        height: 280px;
   
        

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
          border-radius: 10px 10px 0 0;
        }


     }

     .content-section{
          background-color: rgb(249, 243, 243);
           color: rgb(6, 6, 6);
           width: 100%;
           height: calc(100% - 280px);
           border-radius: 0 0 10px 10px;
           display: flex;
           flex-direction: column;
          //  flex-grow: 1;
          justify-content: center; 
          
           
           
           .info{
              display: flex;
              justify-content: space-between;
              flex-grow: 1;
              margin: 10px  10px 0 10px;
           }
           h3{ 
               flex-grow: 1;
               line-height: 25px;
               margin-left: 10px;
               
            
           }

           .description{
               width: 100%;
               flex-grow: 1;
               margin-left: 10px;
           }

           span{
               display: flex;
               align-items: center;
               justify-content: center;
               margin-bottom: 10px;
               svg{
                    font-size: 20px;
                    color: gray;
               }
           }
     }


     &:hover{
          // transform: scale(1.1);
          transform: translateY(-10px);

          .content-section{
               background-color: gray;
               color: white;
          }
          span{
               svg{
                    color: white;
               }
          }

     }
}