.contact-info-box{
    color: white;
     width: 90%;
     display: flex;
     flex-direction: column;
     justify-content: center;
    //  align-items: center;
     background-color: gray;
    //  margin: 15px;
    padding: 15px;
    gap: 15px;

    border-radius: 15px;
    margin-top: 10px;

    @media only screen and (min-width:768px) {
        width: 300px;
        margin-top: 0;
    }

    h4{
        font-size: 18px;
        // line-height: 20px;
    }

    .content-option{
        //  background-color: red;
         display: flex;
         align-items: center;
         gap: 15px;
           
         svg{
            // color: green;
            // color: yellow;
         }
    }
    

}