.main-form-content{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
     align-items: center;
    //  background-color: red;

    @media only screen and (min-width:768px) {
            display: flex;
            flex-direction: row;
            align-items: normal;
    } 
        
    
}