@import '../../style-config/mixin.scss';
@import '../../style-config/variable.scss';


.skills-content-wrapper{
      
        display:flex ;
           flex-direction: column;
        //    background-color: red;
        @media only screen and (min-width:768px){
            flex-direction: row;
            align-items: center;
        }
        .left-col{
            //  background-color: green;
            width: 100%;
            display: flex;
            align-items: center;
              justify-content: center;
            @media only screen and (min-width:768px){
               width: 40%;
               justify-content: flex-start;
            }
            img{
                width: 100%;
                max-width: 453px;
                display: block;
            }
        }  

        .right-col{
            display: flex;
            flex-direction: column;
            align-items: center;
                // background-color: rgb(0, 255, 72);
                width: 100%;
                color: white;
            
                 
             @media only screen and (min-width:768px) {
                width: 60%;
                margin-left: 50px;
             }
                h2{ 
                    margin-top: 5px;
                    margin-bottom: 25px;
                    font-size: 30px;
                    font-weight: 700;
                }
                p{
                
                    font-size:24px ;
                     @media only screen and (min-width:768px){
                        font: 22px;
                     }
                    font-weight: 400;
                    line-height: 24px;
                    margin-bottom:25px;
                    
                }
               .dwn{
                //    background-color: yellow;
                .download{
                    cursor: pointer;
                    background-color: grey;
                
                    display: flex;
                
                    padding: 5px 10px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 15px; 
                     transition: color 0.3s ease-in-out 0s;

                    &:hover{
                        color: rgb(53, 3, 3);

                    }
                }

               }
            
        }

        @media only screen and (min-width:768px){
             h2{
                font: 25px;
             }
        }
}