
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300&display=swap');
   

// @import url("./style-config/mixin.scss");
@import "./style-config/mixin.scss";


*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box; 
    -webkit-font-smoothing:"antialiased"; 
    -moz-osx-font-smoothing:'grayscale';
    
}

// body{
//   background-color: red
// }
p{
  @include typography(10px,400,24px);
}
h2{
  @include typography(42px 700,1.2)
}
h3{
  @include typography(26px, 500 1.2)
}

h4{
  @include typography(22px, 500,1.2);
}
.intro{
  width: 100%;
   min-height: 100vh;
  overflow-x: hidden;

}



